[submodule "DTChat"]
	path = DTChat
	url = https://github.com/DTN-MTP/DTChat
[submodule "bp-socket"]
	path = bp-socket
	url = https://github.com/DTN-MTP/bp-socket
[submodule "socket-engine"]
	path = socket-engine
	url = https://github.com/DTN-MTP/socket-engine
